@using Eshop2.Models.OrderViewModels
@using Trainee.Business.DAL.Entities
@model CartViewModel
@{
    ViewData["Title"] = "Košík";
}

@{
    decimal totalPrice = 0;
    foreach (CartItem c in Model.Cart)
    {

        totalPrice += c.Product.Price * c.Amount;

    }
}

<h2>@ViewData["Title"]</h2>


@{if (ViewData["emptyCart"] != null)
    {
        <p class="text-center">Ještě tu není žádná knížka.</p>
        <h4 class="text-center"><a asp-controller="Home" asp-action="index">Vyražte nakupovat!</a></h4>
        <div class="row">
            <div class="col-md-6"><img src="~/images/coolbooks.jpg" alt="cool books" /></div>
            <div class="col-md-6"><img src="~/images/needbook.png" alt="need a book?" /></div>
        </div>
    }
    else
    {
    <div id="cart-wrapper">


        foreach (CartItem c in Model.Cart)
        {
            <div class="row cart-item bottom-padding">
                <a asp-controller="catalogue" asp-action="book" asp-route-id="@c.ProductId">
                    <div class="col-md-2">
                        <img src="~/images/product_images/@c.Product.PicAddress" alt="bookcover" />
                    </div>
                    <div class="col-md-4">
                        <p><strong>@c.Product.Name</strong></p>

                        <input type="hidden" class="product-id-hidden" value="@c.ProductId" />

                        <p>
                            @{
                                var a = c.Product.Book.AuthorsBooks;
                                for (int i = 0; i < a.Count; i++)
                                {

                                    @a[i].Author.Name @Html.Raw(" ") @a[i].Author.Surname

                                    @if (i != a.Count - 1)
                                    {@Html.Raw(", ")}
                                }
                            }
                        </p>
                    </div>
                </a>
                <div class="col-md-1">
                    <p>@c.Product.State.Name</p>

                </div>
                <div class="col-md-2 text-center unselectable">
                    <span class="glyphicon glyphicon-minus product-count-decrease"></span>
                    <input type="number" class="product-count" value="@c.Amount" min="1" />
                    <span class="glyphicon glyphicon-plus product-count-increase"></span>
                    <input type="hidden" class="product-count-original" value="@c.Amount" />
                    <input type="hidden" class="product-count-prevalidation" value="@c.Amount" />

                </div>

                <div class="col-md-2">
                    <input type="hidden" class="product-price-hidden" value="@c.Product.Price" />

                    @String.Format("{0:c}", c.Product.Price)
                </div>
                <div class="col-md-1"><a><span class="glyphicon glyphicon-remove remove"></span><span class="sr-only">Smazat</span></a></div>
            </div>

}

         <hr class="bottom-padding" />


<div class="row bottom-padding text-right total-price">
    <p>
        Celková cena:<span id="total-price-string"> @String.Format("{0:c}", totalPrice)</span>
    </p>
</div>


         <div class="row">
              <div class="col-md-6">
                  <a class="btn btn-default" asp-controller="catalogue" asp-action="products"><span class="glyphicon glyphicon-menu-left triangle-left"></span>Vybrat další knížky</a>
              </div>
              <div class="col-md-6 bottom-padding">
                  <a class="btn btn-primary order-button" asp-controller="Order" asp-action="Order">Objednat<span class="glyphicon glyphicon-menu-right triangle-right"></span></a>
             </div>
         </div>
      }
}