@using Eshop2.Models.OrderViewModels
@using Trainee.Business.DAL.Entities
@model CartViewModel
@{
    ViewData["Title"] = "Košík";
}

@{
    decimal totalPrice = 0;
    foreach (CartItem c in Model.Cart)
    {

        totalPrice += c.Product.Price * c.Amount;

    }
}

<h2>@ViewData["Title"]</h2>
<span id="cart-wrapper">
    @{
        foreach (CartItem c in Model.Cart)
        {
            <div class="row cart-item bottom-padding">
                <div class="col-md-2">
                    <img src="~/images/product_images/@c.Product.PicAddress" alt="bookcover" />
                </div>
                <div class="col-md-4">
                    <p><strong>@c.Product.Name</strong></p>
                    <p>
                        @{
                            var a = c.Product.Book.AuthorsBooks;
                            for (int i = 0; i < a.Count; i++)
                            {

                                @a[i].Author.Name @Html.Raw(" ") @a[i].Author.Surname

                                @if (i != a.Count - 1)
                                {@Html.Raw(", ")}
                            }
                        }
                    </p>
                </div>
                <div class="col-md-1">
                    <p>@c.Product.State.Name</p>
                </div>
                <div class="col-md-2">
                    <span class=" glyphicon-minus-sign  glyphicon change-amount-minus"></span>
                    <input type="text" class="product-count" value="@c.Amount" min="1" />
                    <span class="glyphicon glyphicon-plus-sign change-amount-plus"></span>
                    <input type="hidden" class="product-count-original" value="@c.Amount" />
                </div>
                <div class="col-md-2">
                    <span class="hidden product-id-hidden">@c.Product.Id</span>
                    <span class="hidden product-price-hidden">@c.Product.Price</span>
                    @String.Format("{0:c}", c.Product.Price)
                </div>
                <div class="col-md-1"><a><span class="glyphicon glyphicon-remove remove"></span><span class="sr-only">Smazat</span></a></div>
            </div>
                            }
    }
</span>
<div class="row text-right bottom-padding">
    <button class="btn btn-primary change-count">Přepočítat košík</button>
</div>

<hr class="bottom-padding" />

<div class="row bottom-padding text-right total-price">
    <p>
        Celková cena:<span id="total-price-string"> @String.Format("{0:c}", totalPrice)</span>
    </p>
</div>

<div class="row">
    <a class="btn btn-default" asp-area="" asp-controller="catalogue" asp-action="products"><span class="glyphicon glyphicon-menu-left triangle-left"></span>Vybrat další knížky</a>
    <a asp-area="" asp-controller="Order" asp-action="Order" class="btn btn-primary order-button">Objednat<span class="glyphicon glyphicon-menu-right triangle-right"></span></a>
</div>
