@using Eshop2.Models.OrderViewModels
@using Trainee.Core.DAL.Entities
@using Trainee.Business.DAL.Entities
@model OrderViewModel
@{
    ViewData["Title"] = "Objednávka";
    decimal orderPrice = 0;
}



<h2>@ViewData["Title"]</h2>

<h3 class="bottom-padding">Vybrané knížky</h3>
<div class="order-items">
    <div class="row order-items-heading hidden-sm hidden-xs">
        <div class="col-md-4">Název knihy</div>
        <div class="col-md-4">Autor</div>
        <div class="col-md-1">Počet</div>
        <div class="col-md-3">Celková cena</div>
    </div>


    @{
        foreach (CartItem c in Model.Items)
        {
            <div class="row order-items-row">
                <div class="col-md-4">
                    <p class="order-book-name">@c.Product.Name</p>
                </div>
                <div class="col-md-4">
                    <p>
                        @{
                            var a = c.Product.Book.AuthorsBooks;
                            for (int i = 0; i < a.Count; i++)
                            {

                                @a[i].Author.Name @Html.Raw(" ") @a[i].Author.Surname

                                @if (i != a.Count - 1)
                                {@Html.Raw(", ")}
                            }
                        }
                    </p>
                </div>
                <div class="col-md-1">
                    @c.Amount ks
                </div>
                <div class="col-md-3">
                    @{
                        decimal booksPrice = 0;
                        {

                            booksPrice += c.Product.Price * c.Amount;

                        }
                    }

                    @String.Format("{0:c}", booksPrice)
                </div>
            </div>
                            orderPrice += booksPrice;
                        }

    }
    <div class="row order-price"><p class="text-right">Cena objednávky: @String.Format("{0:c}", orderPrice)</p></div>   
    
</div>



<h3>Dodací údaje</h3>
<div class="form-group">
    <form asp-action="Order" asp-controller="Order" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="order">
            <div class="row bottom-padding">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="row form-row">
                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="Name"></label>
                        <input class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="Surname"></label>
                        <input class="form-control" asp-for="Surname" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="Phone"></label>
                        <input class="form-control" asp-for="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="Street"></label>
                        <input class="form-control" asp-for="Street" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="PostalCode"></label>
                        <input class="form-control" asp-for="PostalCode" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="City"></label>
                        <input class="form-control" asp-for="City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 responsive-col">
                        <label class="text-indent control-label" asp-for="CountryId"></label>
                        <select class="form-control" asp-for="CountryId">
                            <option selected disabled>Zvolte zemi...</option>
                            @{
                                foreach (Country c in Model.Countries)
                                {

                                    {
                                        <option value="@c.Id">@c.Name</option>
                                    }
                                }
                            }

                        </select>
                    </div>

                </div>
            </div>

            <div class="row bottom-padding">
                <div class="col-md-6 responsive-col">
                    <strong class="text-indent">Doprava</strong><br />

                    @{
                        foreach (Shipping s in Model.Shipping)
                        {
                            <div class="radio order-radio">
                                <input type="radio" value="@s.Id" asp-for="ShippingId" /> @s.Name @Html.Raw(" | ") @String.Format("{0:c}", s.Price)<br />
                            </div>
                        }
                    }
                </div>
                <div class="col-md-6 responsive-col">
                    <strong class="text-indent">Platba</strong><br />

                    @{
                        foreach (Payment p in Model.Payment)
                        {
                            <div class="radio order-radio">
                                <input type="radio" value="@p.Id" asp-for="PaymentId" /> @p.Name <br />
                            </div>
                        }
                    }

                </div>
            </div>
        </div>


        <div class="row order-buttons-div">
            <div class="col-md-6">
                <a class="btn btn-default" asp-controller="Order" asp-action="Cart"><span class="glyphicon glyphicon-menu-left triangle-left"></span>Zpět do košíku</a>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-prim order-button" type="submit">Objednat<span class="glyphicon glyphicon-menu-right triangle-right"></span></button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}