@using Eshop2.Models.OrderViewModels
@using Trainee.Core.DAL.Entities
@using Trainee.Business.DAL.Entities
@model OrderViewModel
@{
    ViewData["Title"] = "Dodací údaje";
}

<h2>@ViewData["Title"]</h2>

<form>
    <div class="order">
        <div class="row bottom-padding">

            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Surname"></label>
                    <input class="form-control" asp-for="Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Email"></label>
                    <input class="form-control" asp-for="Email"  />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Phone"></label>
                    <input class="form-control" asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Street"></label>
                    <input class="form-control" asp-for="Street" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="PostalCode"></label>
                    <input class="form-control" asp-for="PostalCode" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="City"></label>
                    <input class="form-control" asp-for="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                @*AŽ BUDE CONTROLLER*@
                @*
    <div class="col-md-6">
        <label class="text-indent control-label" asp-for="CountryId"></label>
        <select class="form-control" asp-for="CountryId">
            <option selected disabled>Zvolte zemi...</option>
            @{


                foreach (Country c in Model.Countries)
                {

                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                }
            }

        </select>
    </div>
                *@
            </div>
        </div>

        <div class="row bottom-padding">
            <div class="col-md-6">
                <strong class="text-indent">Doprava</strong><br />

                @{ 
                    foreach (Shipping s in Model.Shipping)
                    {
                        <input type="radio" value="@s.Id" /> @s.Name <br />
                    }
                }
            </div>
            <div class="col-md-6">
                <strong class="text-indent">Platba</strong><br />

                @{
                    foreach (Payment p in Model.Payment)
                    {
                        <input type="radio" value="@p.Id" /> @p.Name <br />
                    }
                }
            </div>
        </div>
    </div>

    <div class="row">
        <a class="btn btn-default" asp-area="" asp-controller="Order" asp-action="Cart"><span class="glyphicon glyphicon-menu-left triangle-left"></span>Zpět do košíku</a>
        <button type="submit">Objednat<span class="glyphicon glyphicon-send triangle-right"></span></button>
    </div>
</form>
