@using Eshop2.Models.OrderViewModels
@model OrderViewModel
@{
    ViewData["Title"] = "Dodací údaje";
}

<h2 class="bottom-padding">@ViewData["Title"]</h2>

<form>
    <div class="order">
        <div class="row bottom-padding">

            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" value="@Html.DisplayFor(model => model.Name)"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Surname"></label>
                    <input class="form-control" asp-for="@Model.Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Email"></label>
                    <input class="form-control" asp-for="Email" value="@Html.DisplayFor(model => model.Email)" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Phone"></label>
                    <input class="form-control" asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Street"></label>
                    <input class="form-control" asp-for="Street" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="PostalCode"></label>
                    <input class="form-control" asp-for="PostalCode" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="City"></label>
                    <input class="form-control" asp-for="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="CountryCode"></label>
                    <select class="form-control" asp-for="CountryCode">
                        <option selected disabled>Zvolte zemi...</option>
                        @{
                            string[] Country = new string[] { "Czech", "Slovakia", "Germany" };

                            foreach (string coun in Country/*Country c in Model.Countries*/)
                            {

                                {
                                    /*<option value="@c.CountryCode">@c.Name</option>*/
                                    <option value="@Country">@Country</option>
                                }
                            }
                        }

                    </select>
                </div>

            </div>
        </div>

        <div class="row bottom-padding">
            <div class="col-md-6">
                <strong class="text-indent">Doprava</strong><br />
                <input type="radio" name="shipping" value="Vyzvednutí v prodejně" /> Vyzvednutí v prodejně 0 Kč<br />
                <input type="radio" name="shipping" value="Česká pošta" /> Česká pošta 69 Kč<br />
                <input type="radio" name="shipping" value="PPL" /> PPL 89 Kč<br />
            </div>
            <div class="col-md-6">
                <strong class="text-indent">Platba</strong><br />
                <input type="radio" name="payment" value="Hotově/ kartou při převzetí" /> Hotově/ kartou při převzetí<br />
                <input type="radio" name="payment" value="Kartou ihned" /> Kartou ihned<br />
                <input type="radio" name="payment" value="Na dobírku" /> Na dobírku +30 Kč<br />
                <input type="radio" name="payment" value="Převodem" /> Převodem<br />
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn"><span class="glyphicon glyphicon-menu-left triangle-left"></span>Zpět do košíku</button>
        <button asp-area="" asp-controller="Order" asp-action="Order" class="btn btn-primary order-button">Rekapitulace<span class="glyphicon glyphicon-menu-right triangle-right"></span></button>
    </div>
</form>
