@using Eshop2.Models.CatalogueViewModels;
@using Trainee.Catalogue.Business;
@using Trainee.Catalogue.DAL.Entities;
@using Trainee.Business.Business;
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

@inject CatalogueService CatalogueService;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor ContextAccessor
@inject OrderService OrderService

@{
    //return url
    ViewData["returnUrl"] = Context.Request.Path;

    //categories
    Category currentCategory;
    if (Model is ProductsViewModel)
    {
        var modelCat = Model as ProductsViewModel;
        currentCategory = modelCat.currentCategory;
    }
    else
    {
        var result = CatalogueService.GetCategory(1);
        currentCategory = result.data;
    }

    int parentId = currentCategory.Parent == null ? 1 : currentCategory.ParentId.Value;

    string parentName = currentCategory.Parent == null ? "Všechny knížky" : currentCategory.Parent.Name;

    //transforming anonymous cart
    string oldVisitorId = ContextAccessor.HttpContext.Request.Cookies["OldVisitorId"];
    ViewData["OldVisitor"] = oldVisitorId;

    //get user cart
    var user = await UserManager.GetUserAsync(User);
    var cart = user != null ? OrderService.GetCart(user.Id).data : null;
    var cartForCount = cart == null ? OrderService.GetCart(Context.Request.Cookies["VisitorId"]).data : cart;

    if (TempData["EmailUnknown"] != null)
    {
        ViewData["EmailUnknown"] = true;
    }
    if (TempData["WrongPassword"] != null)
    {
        ViewData["WrongPassword"] = true;
    }

    var allowCookie = ContextAccessor.HttpContext.Request.Cookies["AllowCookies"];

}







<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)

</head>
<body>

    <div class="container body-content container-fluid">
        <!-- HLAVIČKA -->
        <div class="row" id="hlavicka">
            <div class="col-md-2">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo img-responsive" src="~/images/logo.png" alt="Fantastic Books logo" /></a>
            </div>
            <div class="basket-user col-md-2 col-md-offset-8">
                <a asp-area="" asp-controller="Order" asp-action="cart" class="btn basket-user-btn main-background">
                    <img src="~/images/cart.svg" alt="cart" /><br />
                    @if (cartForCount?.Count > 0)
                    {
                        <span id="cartcount">Košík (@cartForCount.Count)</span>
                    }
                    else
                    {
                        <span id="cartcount">Košík</span>
                    }
                </a>
                <button class="btn basket-user-btn main-background" onclick="toggleLogin();">
                    <img src="~/images/user.svg" alt="user" /><br />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <p id="login-link">Účet</p>
                    }
                    else
                    {
                        <p id="login-link">Přihlásit</p>
                    }
                </button>
            </div>
        </div>

        <hr />

        <!--PARTIAL VIEW - LOGIN-->
        <div class="row">

            <div class="col-md-4 login-container">
                <div class="container" id="login" style="display:none" ;>
                    @Html.Partial("~/Views/Account/Login.cshtml", new LoginViewModel(), ViewData)


                </div>
            </div>
        </div>

        <!-- MENU-->
        <div class="row" id="main-section">
            <div class="col-md-2">

                <div class="list-group-item menu-item">
                    <a asp-area="" asp-controller="catalogue" asp-action="products" asp-route-id="@parentId"><p class="bold">@parentName</p></a>
                </div>


                @{

                    foreach (Category c in currentCategory.Children)
                    {
                        <div class="list-group-item menu-item">
                            <a asp-area="" asp-controller="catalogue" asp-action="products" asp-route-id="@c.Id"><p><img src="~/images/@(c.Name).svg" /> @c.Name</p></a>
                        </div>

                    }
                }

            </div>
        <div class="clear"></div>

            <!-- OBSAH -->
            <div class="col-md-10" id="layout">
                @RenderBody()
            </div>
        </div>   <!--main section closing-->

        <hr />

        <!-- PATIČKA -->
        <div class="footer">
            <div class="row">
                <div class="col-md-6">
                    <a asp-controller="Home" asp-action="Shipping"><p>Doprava a platba</p></a>
                    <a asp-controller="Home" asp-action="Conditions"><p>Obchodní podmínky</p></a>
                    <a asp-controller="Home" asp-action="Contact">Kontakty</a>
                </div>
                <div class="col-md-6 text-right">
                    <p>
                        <strong>Fantastic Books</strong><br />
                        Guttenbergova 5, Liberec<br />
                        IČ: 285 64 952<br />
                        +420 531 648 523<br />
                        ahoj@fantasticbooks.cz
                    </p>
                </div>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script src="~/lib/lodash/lodash.js"></script>
        <script src="~/lib/jquery-throttle-debounce/jquery.ba-throttle-debounce.js"></script>
        <script src="~/js/site.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="https://code.jquery.com/ui/1.7.2/jquery-ui.min.js"
                integrity="sha256-4h4SHCCUAKFl7xWF9JeZp9tnU8lmM5bt6G3kNK6E4ek="
                crossorigin="anonymous"></script>
        <script src="~/lib/jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @if (ViewData["EmailUnknown"] != null || ViewData["WrongPassword"] != null)
        {
            if (Context.Request.Path.Value.IndexOf("Login", StringComparison.CurrentCultureIgnoreCase) < 0)
            {
                <script>toggleLogin()</script>
            }
        }

    @if (oldVisitorId != null)
    {
        if (cart?.Count > 0)
        {
            //do not remove element id without asking! Is used in Redirect.cshtml view
            <div id="cart-dialog" title="Chcete si ponechat košík?">

                <p>Chcete si ponechat následující věci v košíku?</p>
                <ul>
                    @foreach (var item in cart)
                    {
                        <li>@item.Product.Name</li>
                    }
                </ul>
            </div>
        }
        else
        {
            <script>transformCart(false)</script>
        }
    }


    @if (allowCookie == null)
    {
        <div id="cookie-dialog" title="Pr">

            
        </div>

    }
</body>
</html>
