@model DetailsViewModel
@using Trainee.Core.DAL.Entities
@using TestWeb.Models.AccountViewModels
@using Trainee.Business.DAL.Entities
@using Trainee.Catalogue.DAL.Entities

@{
    ViewData["Title"] = "Profil uživatele";
}




<div class="container bottom-padding">
    <h2 class="text-indent">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>

    <div class="row row-centered profile">

        <div id="slip">
            <div class="col-lg-5 col-lg-offset-1 profile-left">
                <table>
                    <tr>
                        <td class="col-lg-6 profile-item"><p>Email:</p></td>
                        <td class="col-lg-6 second"><p>@Html.DisplayFor(model => model.Email)</p></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 profile-item"><p>Telefon:</p></td>
                        <td class="col-lg-6 second"><p>@Html.DisplayFor(model => model.Phone)</p></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 profile-item"><p>Ulice:</p></td>
                        <td class="col-lg-6 second"><p>@Html.DisplayFor(model => model.Street)</p></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 profile-item"><p>Město:</p></td>
                        <td class="col-lg-6 second"><p>@Html.DisplayFor(model => model.City)</p></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 profile-item"><p>PSČ:</p></td>
                        <td class="col-lg-6 second"><p>@Html.DisplayFor(model => model.PostalCode)</p></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 profile-item"><p>Země:</p></td>
                        <td class="col-lg-6 second"><p>@Html.DisplayFor(model => model.Country.Name)</p></td>
                    </tr>
                </table>
            </div>


            <div class="col-lg-3 profile-right">
                <img src="~/images/profile_pics/@Model.ProfilePicAddress" alt="profile-photo" class="img-fluid img-profile" /><br />
                <div id="edit-button">
                    <a asp-action="Edit" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Změnit údaje</a>
                </div>

            </div>
        </div>
    </div>
</div>
<hr />


<h3>Moje objednávky</h3>


@{            /* List all orders, hide the details */
    var o = Model.Orders;
    for (int i = 0; i < o.Count; i++)
    {
        <div class="row list-orders">
            <div class="col-md-3 text-indent">@String.Format("{0: d. M. yyyy}", o[i].Date)</div>
            <div class="col-md-3">#@o[i].Id</div>
            <div class="col-md-2">@o[i].OrderState.Name</div>
            <div class="col-md-2">
                @{
                    decimal totalPrice = 0;
                    foreach (OrderItem ord in o[i].OrderItems)
                    {
                        totalPrice += ord.Price * ord.Amount;
                    }
                }
                @String.Format("{0:c}", totalPrice)
            </div>
            <div class="col-md-2"><button type="button" data-toggle="collapse" data-target="#order-details-@i"><span class="glyphicon glyphicon-menu-down"></span></button></div>
        </div>

                    /* List all books in order, toggle on button click */


                    <div class="row collapse" id="order-details-@i">
                        @*<div class="col-md-12">*@
                            @{ var oi = o[i].OrderItems;
                                for (int j = 0; j < oi.Count; j++)
                                {
                                    <div class="row list-products">
                                        <div class="col-md-4">@oi[j].Product.Name</div>
                                        <div class="col-md-4">
                                            @{
                                                var aut = oi[j].Product.Book.AuthorsBooks;
                                                for (int k = 0; k < aut.Count; k++)
                                                {
                                                    @aut[k].Author.Surname
                                                    if (k != aut.Count - 1)
                                                    {
                                                        @Html.Raw(", ")
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="col-md-2 text-center">@oi[j].Amount ks</div>
                                        <div class="col-md-2">
                                            @{
                                                decimal totalProductPrice = 0;
                                                totalProductPrice = oi[j].Amount * oi[j].Price;
                                            }
                                            @String.Format("{0:c}", totalProductPrice)
                                        </div>
                                    </div>
                                                }
                            }
                       @* </div>*@
                    </div>
                    <hr />

                                                }
}


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}