@using Trainee.Core.DAL.Entities
@model EditViewModel
@{
    ViewData["Title"] = "Upravit profil";
}



    <h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>
    <div class="row profile">

            <form asp-controller="Account" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
                <div id="change" class="col-md-12">

                    <div class="row form-row text-left">
                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="Name"></label>
                            <input class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="Surname"></label>
                            <input class="form-control" asp-for="Surname" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-row text-left">
                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="NewPassword"></label>
                            <input class="form-control" asp-for="NewPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="ConfirmNewPassword"></label>
                            <input class="form-control" asp-for="ConfirmNewPassword" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-row text-left">
                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="Street"></label>
                            <input class="form-control" asp-for="Street" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="City"></label>
                            <input class="form-control" asp-for="City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-row text-left">
                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="PostalCode"></label>
                            <input class="form-control" asp-for="PostalCode" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 responsive-col">
                            <label class="text-indent" asp-for="CountryId">Stát</label>
                            <select class="form-control" asp-for="CountryId">

                                <option value="@Model.Country.Id">@Model.Country.Name</option>

                                @{
                                    foreach (Country c in Model.Countries)
                                    {
                                        if (c.Id != Model.Country.Id)
                                        {

                                            @if (c.Id == 1)
                                            {
                                                <option class="option-cs" value="@c.Id">@c.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@c.Id">@c.Name</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col-md-6 responsive-col">
                            <label class="text-indent control-label" asp-for="Phone"></label>
                            <input class="form-control" asp-for="Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 bottom-padding responsive-col">
                            <label class="text-indent" asp-for="ProfileImage">Profilový obrázek</label>
                            <input asp-for="ProfileImage" type="file" class="form-control-file">
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="bottom-padding" />

                    <div class="row">
                        <div class="col-md-6 responsive-col">
                            Pro změnu údajů zadejte prosím své stávající heslo:
                            <br />
                            <input class="form-control" asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>-
                            @if (ViewData["WrongPassword"] != null)
	                                {
		                                <p class="text-danger">Heslo nesouhlasí, zadejte prosím správné heslo.</p>
	                                }
                        </div>

                        <div class="col-md-6 responsive-col" id="cancel-button">
                            <button type="submit" class="btn btn-prim btn-ulozit">Uložit</button>
                            <br />
                            <a asp-action="Details" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Zrušit</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
