@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using TestWeb.Models


@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Log in";

    //the closing button needs to have a unique id, as we want to show it in a partial view, but not on the /Account/Login view. If we open /Account/Login, we want the button "Pr",
    //which is rendered on the Login view page (before the partial view), to be hidden, whereas the button "Prr" in the partial view needs to be shown
    //see site.js for script

    if (ViewData["LoginShite"] == null)
    {
        //this is the first button rendered and will be named "Pr"
        ViewData["LoginShite"] = "P";
    }

    //in case this is the second Login page rendered (a partial view), another button named "Prr" will be present
    ViewData["LoginShite"] = ViewData["LoginShite"] + "r";

    var asdfa = new List<string>();

    string currUrl = Context.Request.Path.Value;
    if(currUrl.IndexOf("Login", StringComparison.CurrentCultureIgnoreCase) >= 0)
    {
        ViewData["FromLogin"] = true;
    }

}

<div id="login-page-container" class="container-fluid">

    @if (SignInManager.IsSignedIn(User))
    {
        <div id="signedUserMenu">
            
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" asp-route-returnurl="@ViewData["returnUrl"]" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Details" title="Manage">Moje údaje</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Edit" title="Manage">Upravit profil</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Odhlásit se</button>
                    </li>
                </ul>
            </form>
        </div>
    }
    else
    {

        <button class="btn close-tab" id="@ViewData["LoginShite"]" onclick="toggleLogin()" style="display: none"><p class="text-center">X</p></button>
        

        <div id="login-error" class="text-center">
            @if (ViewData["EmailUnknown"] != null)
                {
                <h4 class="text-danger">Tento e-mail neznáme. Použijte správný e-mail nebo se registrujte prosím.</h4>

            }

            @if (ViewData["WrongPassword"] != null)
                {
                <h4 class="text-danger">Bylo vloženo nesprávné heslo. Zkuste se prosím přihlásit znovu.</h4>
            }
        </div>

            <section>
                
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-route-fromLogin="@ViewData["FromLogin"]" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label text-indent"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-indent"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-default">Přihlásit se</button>
                    </div>
                    <p class="text-center">
                        Nemáte u nás ještě účet? <a asp-action="Register" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Zaregistrujte se.</a>
                    </p>
                </form>
            </section>

    }
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
