@model RegisterViewModel
@using Trainee.Core.DAL.Entities;
@{
    ViewData["Title"] = "Registrace";
}

<h2 class="text-indent">@ViewData["Title"]</h2>

<div class="row">

    <div class="col-md-8 form-group col-centered">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Name"></label><i class="red-star">*</i>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Surname"></label><i class="red-star">*</i>
                    <input class="form-control" asp-for="Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Email"></label><i class="red-star">*</i>
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Phone"></label>
                    <input class="form-control" asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Password"></label><i class="red-star">*</i>
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="ConfirmPassword"></label><i class="red-star">*</i>
                    <input class="form-control" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="Street"></label>
                    <input class="form-control" asp-for="Street" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="PostalCode"></label>
                    <input class="form-control" asp-for="PostalCode" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="City"></label>
                    <input class="form-control" asp-for="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="text-indent control-label" asp-for="CountryId"></label>
                    <select class="form-control" asp-for="CountryId">
                        <option selected disabled>Zvolte zemi...</option>
                        @{


                            foreach (Country c in Model.Countries)
                            {

                                {
                                    <option value="@c.Id">@c.Name</option>
                                }
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-prim register-button" type="submit">Registrovat se</button>
            </div>
        </form>
    </div>

</div>

@if (ViewData["RegisterCompleted"] != null)
{
    <h4 class="text-center text-danger">Vaše registrace proběhla úspěšně. <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Můžete se přihlásit.</a></h4>

}

@if (ViewData["UserExists"] != null)
{
    <h4 class="text-center text-danger">Účet s tímto e-mailem už existuje. Zvolte jiný e-mail nebo <a asp-area="" asp-controller="Account" asp-action="Login">pokračujte na přihlášení.</a></h4>

}


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
