@using Eshop2.Models.CatalogueViewModels;
@using Trainee.Business.DAL.Entities

@model ProductsViewModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.currentCategory.Name);
}
<h2>@ViewData["Title"]</h2>

<b>@Html.DisplayFor(model => model.MinPrice)</b> 
<div id="priceFilter"></div>
<!--<input id="priceFilter" type="text" class="span2" value="" data-slider-min="@Model.MinPrice" data-slider-max="@Model.MaxPrice" data-slider-step="10" data-slider-value="[@Model.MinPrice, @Model.MinPrice]" /> 
--><b>@Html.DisplayFor(model => model.MaxPrice)</b>
<div class="row">
    @{ 

        for (int i = 0; i < Model.Products.Count; i++)
        {

            ProductBO p = Model.Products[i];
            <div class="col-lg-2 text-center product">
                <img src="@p.PicAddress" alt="@p.Name" />
                <p>@p.Name</p>
                @foreach (var ab in p.Book.AuthorsBooks)
                {<span>@ab.Author.Name @ab.Author.Surname, </span>}
                <img src="http://www.dtsg.com/sites/default/themes/garden/images/five-stars.png" alt="rating" />
                <p>@p.Price</p>
                <button class="btn btn-primary">Do košíku</button>
            </div>

            if ((i+1) % 6 == 0)
            {
                @Html.Raw("</div>")
                @Html.Raw("<div class='row'>")
            }
        }

        }
 
</div>

<hr />
