@using Eshop2.Models.CatalogueViewModels;
@using Trainee.Business.DAL.Entities
@using Trainee.Catalogue.DAL.Entities

@model ProductsViewModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.currentCategory.Name);
}
<h2>@ViewData["Title"]</h2>
<!--
<b>@Html.DisplayFor(model => model.MinPrice)</b>
<div id="priceFilter"></div>
<input id="priceFilter" type="text" class="span2" value="" data-slider-min="@Model.MinPrice" data-slider-max="@Model.MaxPrice" data-slider-step="10" data-slider-value="[@Model.MinPrice, @Model.MinPrice]" />

<b>@Html.DisplayFor(model => model.MaxPrice)</b>-->

<form>
    <label class="control-label" asp-for="Authors">Autor</label>
    <select asp-for="Authors" class="form-control filters">
        @{
            foreach (Author a in Model.Authors)
            {
                <option value="@a.AuthorId">@a.Surname, @a.Name</option>

            }
        }
    </select>
</form>

<div class="row">
    <form>
        <div class="col-md-3">
            <label asp-for="Authors">Autor</label>
            <select class="selectpicker" asp-for="Authors" data-live-search="true">
                @{
                    foreach (Author a in Model.Authors)
                    {
                        <option>@a.Surname, @a.Name</option>}
                }
            </select>
        </div>
<!--
        <div class="col-md-3">
            <label asp-for="Publishers">Vydavatelství</label>
            <select class="form-control" asp-for="Publishers">
                @{
                    foreach (Publisher p in Model.Publishers)
                    {
                        <option>@p.Name</option>}
                }
            </select>
        </div>

        <div class="col-md-2">
            <label asp-for="Languages">Jazyk</label>
            <select class="form-control" asp-for="Languages">
                @{
                    foreach (Language l in Model.Languages)
                    {
                        <option>@l.Name</option>}
                }
            </select>
        </div>

        <div class="col-md-2">
            <label asp-for="Formats">Formát</label>
            <select class="form-control" asp-for="Formats">
                @{
                    foreach (Format f in Model.Formats)
                    {
                        <option>@f.Name</option>}
                }
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filtrovat</button>
        </div>-->
    </form>
</div>


<div class="row">
    @{

        for (int i = 0; i < Model.Products.Count; i++)
        {

            ProductBO p = Model.Products[i];
            <div class="col-lg-3 text-center product">
                <a asp-area="" asp-controller="catalogue" asp-action="book" asp-route-id="@p.Id">
                    <img src="~/images/product_images/@p.PicAddress" alt="@p.Name" />
                    <p class="bold">@p.Name</p>
                    <p>
                        @foreach (var ab in p.Book.AuthorsBooks)
                        {<span>@ab.Author.Name @ab.Author.Surname, </span>}
                    </p>
                    <p><img style="width:100px" src="http://www.dtsg.com/sites/default/themes/garden/images/five-stars.png" alt="rating" /></p>
                    <p class="italics">@p.Format.Name</p>
                    <p>@p.Price</p>
                </a>
                <button class="btn btn-primary">Do košíku</button>

            </div>

            if ((i + 1) % 4 == 0)
            {
                @Html.Raw("</div>")
                @Html.Raw("<div class='row'>")
            }
        }

    }

</div>

<hr />
