@using Trainee.Business.DAL.Entities;
@model List<ProductBO>
<div class="row front-row">
    @{

        for (int i = 0; i < Model.Count; i++)
        {

            ProductBO p = Model[i];
            <div class="text-center front-product">
                <a asp-area="" asp-controller="catalogue" asp-action="book" asp-route-id="@p.Id">
                    <img class="book-picture" src="~/images/product_images/@p.PicAddress" alt="@p.Name" />
                    <p class="bold front-book-title">@p.Name</p>
                    <p class="front-book-authors">

                        @{
                            @*Write out first two authors*@
                        var ab = p.Book.AuthorsBooks;

                        for (int j = 0; j < ab.Count; j++)

                        {
                            if (j == 0)
                            {
                                @ab[j].Author.Name @Html.Raw(" ") @ab[j].Author.Surname

                                }
                                else if (j == 1)
                                {
                                    @Html.Raw(", ")@ab[j].Author.Name @Html.Raw(" ") @ab[j].Author.Surname
                                }
                                else
                                {
                                    @Html.Raw(",...")
                                    break;

                                }
                            }
                        }
                    </p>
                    @if (p.AverageRating != null)
                    {
                        <div class="ratings">
                            <div class="empty-stars"></div>
                            @{string averageRatingString = (p.AverageRating * 20).ToString().Replace(',', '.'); }
                            <div class="full-stars" id="insertTheValue" style="width:@averageRatingString%"></div>
                        </div>
                    }
                    else
                    {
                        <p class="no-rating">Bez hodnocení</p>

                    }


                </a>

            </div>

                                }
    }

</div>